html,
body{
width: 100%;
height: 100%;
}
body{
background:black;
}
#cake{
display:block;
position:relative;
margin: -10em auto 0 auto;
}
.fuego{
border-radius:100%;
position: absolute;
top:-20px;
left: 50%;
margin-left: -2.6px;
width: 6.666666667px;
height: 18px;
}
.fuego:nth-child(1){
animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2){
animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3){
animation: fuego 1s 6.5s infinite;
}
